<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Project Blitzkrieg">
    <meta name="author" content="Aleksander Gondek">
    <link rel="icon" href="~/Content/blitzkrieg-website/img/logo-32.png">

    <title>Project Blitzkrieg</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootswatch CSS -->
    <link href="~/Content/bootswatch-darkly/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="~/Content/blitzkrieg-website/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Font awesome -->
    <link href="~/Content/fontawesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/blitzkrieg-website/css/blitzkrieg-docs.css" rel="stylesheet">

    <!-- Custom logo -->
    <link href="~/Content/blitzkrieg-website/css/blitzkrieg-docs-icon.css" rel="stylesheet">

    <!-- Syntax highlighting -->
    <link href="~/Content/blitzkrieg-website/css/highlight-syntax-monokai.css" rel="stylesheet">
    
    <!-- Chessboard-js -->
    <link href="~/Content/chessboard-js/css/chessboard.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="@Url.Action("Play", "ChessGame")">Play</a></li>
                    <li><a href="https://github.com/AleksanderGondek/project-blitzkrieg" target="_blank"><i class="fa fa-github fa-lg"></i> Github</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">
                <i class="icons8-triggering"></i>
                Project Blitzkrieg
            </h3>
        </div>

        @RenderBody()

        <footer class="footer">
            <p class="text-right">
                &copy; @DateTime.Now.Year Aleksander Gondek with help from <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>
            </p>
            <p class="text-right">Site last generated: @DateTime.UtcNow.ToString("G")</p>
        </footer>

    </div>
    <!-- /container -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/Content/blitzkrieg-website/js/ie10-viewport-bug-workaround.js"></script>

    <!-- Jquery -->
    <script src="~/Content/jquery/js/jquery.min.js"></script>
    
    <!-- Underscore -->
    <script src="~/Content/underscore/js/underscore-min.js"></script>

    <!-- Chessboard-js -->
    <script src="~/Content/chessboard-js/js/chessboard.js"></script>

<!-- Boostrap js -->
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>

    <!-- Angularjs -->
    <script src="~/Content/angular/js/angular.min.js"></script>
    
    <!-- Angular Chessboard -->
    <script src="~/Content/angular-chessboard/js/angular-chessboard.min.js"></script>
    
    <!-- Angular Blitzkrieg App -->
    <script src="~/Content/blitzkrieg-website/js/blitzkrieg-chess-game.js"></script>

</body>

</html>
